<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2><strong>Latest Mars News:</strong></h2>
    <h3><strong>{{mars_NASA.news_title}}</strong></h3>
    <h4>{{mars_NASA.news_p}}</h4>
  </div>
  
  <div class='container'>

    <div class="row">
      <div class="card">
        <div class="card-body"></div>
          <div class='row'>
            <div class='col-md-6'>
              <h2>Featured Mars Image</h2>
              <img src="{{mars_NASA.featured}}" class="rounded float-start" style="width: 75%;" alt="...">
            </div>
          </div>
      </div>
      </div>
    <div class='row'>
      <div class='col-md-8'>
        <h3 class="text-center"><strong>Mar's Hemispheres</strong></h3>
        <hr>
        <div class="card">
          <div class="card-body">
            <div class='row'>
              <div class='col-md-6'>
                <h5 class="card- text-center"><strong>{{mars_NASA.hemisphere_title_one}}</strong></h5>
                <img src="{{mars_NASA.hemisphere_image_one}}" class="rounded float-start" style="width: 100%;" alt="...">
              </div>
              <div class='col-md-6'>
                <h5 class="card- text-center"><strong>{{mars_NASA.hemisphere_title_two}}</strong></h5>
                <img src="{{mars_NASA.hemisphere_image_two}}" class="rounded float-end" style="width: 100%;" alt="...">
              </div>
            </div>
            <div class='row'>
              <div class='col-md-6'>
                <h5 class="card- text-center"><strong>{{mars_NASA.hemisphere_title_three}}</strong></h5>
                <img src="{{mars_NASA.hemisphere_image_three}}" class="rounded float-start" style="width: 100%;" alt="...">
              </div>
              <div class='col-md-6'>
                <h5 class="card- text-center"><strong>{{mars_NASA.hemisphere_title_four}}</strong></h5>
                <img src="{{mars_NASA.hemisphere_image_four}}" class="rounded float-end" style="width: 100%;" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="card - text-center ">
        <h2>Mars Facts</h2>
          {{mars_NASA.facts | safe}}

      <div class="card - text-center ">
        <h2>Additional Facts</h2>
          {{mars_NASA.facts2 | safe}}
      </div> 
      </div>
    </div>
  </div>


</body>

</html>
